version: '3'
services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: iron_horse
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_batch:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - postgres

  airflow:
    build: .
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      # KITA PAKAI DATABASE YANG SAMA DENGAN PROJECT (iron_horse)
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:password@postgres/iron_horse
      - AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
      - ./data:/opt/airflow/data
      - ./logs:/opt/airflow/logs
    ports:
      - "8081:8080"
    # PERINTAH INI AKAN MEMBUAT USER: admin / PASSWORD: admin
    command: bash -c "airflow db migrate && airflow users create --username admin --firstname Han --lastname DE --role Admin --email admin@example.com --password admin && airflow webserver & airflow scheduler"
    depends_on:
      postgres:
        condition: service_healthy
  
volumes:
  postgres_data_batch: